.backimg{
    background:linear-gradient( #272635CC, #00000033), url(images/Rectangle-11.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0rem 6.25rem 6.25rem 6.25rem;
    color: #FFF;
}
.navbar-brand,.font-45,.font-45-white{
font-family: IBM Plex Sans;
font-size: 2.813rem;
font-weight: 700;
line-height: 3.688rem;
}
.navbar-brand,.font-45-white{
    color: var(--White, #FFF);
}
.navbar-brand span{
    color: var(--Tertiary, #CECECE);
}
.nav-item .nav-link{
text-transform: uppercase;
border-bottom:0.063rem solid transparent;
}
.nav-item .nav-link ,.font-17-gray,.result-boxes:hover .font-17-lightgray,.services:hover .font-17-lightgray{
    color:  #FFFFFFBF;
}
.navbar-buttons,.euro-buttons,.euro-buttons2{
padding:  0.438rem 1.563rem 0.438rem 1.563rem;
color: white;
}
.navbar-buttons,.euro-buttons,.euro-buttons2,.nav-item .nav-link,.font14{
font-family: IBM Plex Sans;
font-size: 0.875rem;
font-weight: 600;
line-height: 1.5rem;
text-transform: uppercase;
}
.font14,.font35-gray{
    color: #CECECE;
}
.rpadding{
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
}
.navbar-buttons:hover,.euro-buttons,.euro-buttons:hover{
    background-color: #272635;
    color: white;
}
.nav-item .nav-link:hover{
    border-bottom:0.063rem solid  #FFFFFF;
    color: #FFFFFF;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
 --bs-gutter-x: 0rem; 
}
#navbarsExample05{
    margin-left: 12rem;
}
.euro-heading{
font-family: IBM Plex Sans;
font-size: 3.75rem;
font-weight: 700;
line-height: 4.875rem;
}
.euro-section{
  padding:1.875rem 0rem 1.875rem 0rem;
  margin-top: 5rem;
}
.mt1{
    margin-top: 1.5rem;
}
.mt0-9,.card-imgs,.italic{
    margin-top: 0.9rem;
}
.euro-buttons,.euro-buttons2{
    border-radius: 0rem;
    margin-top: 1.5rem;
}
.euro-buttons2,.euro-buttons2:hover{
    color: #272635;
    background-color: #FFF;
    margin-left:  0.625rem;
}
.font17,.font-17-gray,.font-17-lightgray{
font-family: IBM Plex Sans;
font-size: 1.063rem;
font-weight: 400;
line-height: 1.625rem;
}
#gray,.font-17-lightgray{
   color: #6E6E6E;
}
#light-gray{
    color: #A6A6A8;
}
.padding100,.backpink,.contact-us{
    padding: 6.25rem;
}
.backpink,.services{
    background-color: rgb(241, 241, 241);
}
.font20{
font-family: IBM Plex Sans;
font-size: 1.25rem;
font-weight: 700;
line-height: 1.813rem;
}
.mleft5{
    margin-left: 2rem;
}
.mt0-5,.mr-top0-5{
    margin-top: 0.5rem;
}
.mleft1{
    margin-left: 1rem;
}
.mleft0-5{
    margin-left: 0.5rem;
}
.p-absolute{
    position: absolute;
    padding: 2.188rem;
    background-color: #FFF;
    margin-top: 3.3rem;
}
.p-cards{
    padding: 1.5rem;
    background-color: #FFF;
    margin-top: 4.7rem; 
}
.video{
    cursor: pointer;
}
.backblack{
   background:  #272635;
}
.certi-img{
    height: 2.188rem;
}
.credit-img{
    height: 1.875rem;
}
.cam-img{
    height:2.063rem;
}
.result-boxes:hover,.services:hover{
    background-color: #272635;
    color:#FFFFFF;
}
.services:hover .font35-gray{
    color: #FFFFFF;
}
.result-boxes{
    padding:1.25rem;
    cursor: pointer;
}
.img-5{
    height: 43.3rem;
}
.gallery-buttons{
  padding:  0.625rem 2.5rem;
  color:#6E6E6E;
text-align: center;
background-color: #FFF;
border-radius: 0rem;
}
.gallery-buttons:hover{
    background-color: #272635;
    color: white;
}
.gallery-img2{
    width: 20.375rem;
}
.gallery-img3{
    width: 33rem;
}
.gallery-img4{
    width: 27.031rem;
}
.gallery-img2,.gallery-img3,.gallery-img4{
    height: 15.625rem;
}
body,html{
    overflow-x: hidden;
    width: 100%;
}
.contact-us{
        background:linear-gradient( #272635, #00000033), url(images/Rectangle-11.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        color: #FFF;
}
.mt2-5{
    margin-top: 2.5rem;
}
.services{
    padding: 2.188rem;
}
.font35,.font35-gray{
font-family: IBM Plex Sans;
font-size: 2.188rem;
font-weight: 700;
line-height: 2.938rem;
}
.feedback-backimg{
    background:linear-gradient(#272635CC, #FFFFFF00), url(images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFF;
}
.feedback-cards{
    padding: 2.5rem;
    border-radius: 0rem;
}
.italic{
    font-style: italic;
}
.card-imgs{
    width: 4.688rem;
    height: 4.688rem;
}
.card-body {
    padding: 0rem 0rem;
}
@media screen and (min-width:62rem) and (max-width:75rem) {
    .backimg{
        padding: 0rem 4.375rem 4.375rem 4.375rem;
    }
    .padding100,.backpink,.contact-us{
        padding: 4.375rem;
    }
    .navbar-buttons{
        padding:  0.438rem 1.25rem 0.438rem 1.25rem;
     }
     .euro-section{
        margin-top: 2rem;
    }
    .euro-heading{
        font-size: 3.125rem;
        font-weight: 600;
        line-height: 4.25rem;
    }
    .img-1{
           height: 31.25rem; 
    }
    .font-45,.font-45-white{
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.3rem;
    }
    .p-absolute{
        padding: 1.25rem;
        margin-top: 3rem;
    } 
    .img-3{
        height: 15rem;
    }
    .img-4{
        height: 37.5rem;
    }
    .img-5{
        height: 35.8rem;
    }
    .gallery-img2{
        width: 13.438rem;
    }
    .gallery-img3{
        width:25.938rem;
    }
    .gallery-img4{
        width: 19.688rem;
    }
    .gallery-img2,.gallery-img3,.gallery-img4{
        height: 13.75rem;
    }
    .services{
        padding: 1.2rem;
    }
    .font35-gray{
        font-size: 1.875rem;
        line-height: 2.1rem;
    }
    .feedback-cards{
        padding: 1.8rem;
    }
}
@media screen and (min-width:75rem) and (max-width:87.5rem) {
    #navbarsExample05{
        margin-left: 5rem;
    }
    .p-absolute{
        padding: 1.563rem;
    }
    .img-4{
        height: 40.625rem;
    } 
    .img-1{
        height: 37.5rem; 
    }
    .img-3{
        height: 16.25rem;
    }
    .result-boxes{
        padding:0.938rem;
    }
    .img-5{
        height: 38.5rem;
    }
    .gallery-buttons{
        padding:  0.625rem 2.188rem;
    }
    .gallery-img2{
        width: 16.875rem;
    }
    .gallery-img3{
        width: 29.375rem;
    }
    .gallery-img4{
        width: 23.125rem;
    }
    .services{
        padding: 1.7rem;
    } 
}
@media screen and (min-width:12.5rem) and (max-width:62rem){
    .backimg{
        padding: 0rem 0.625rem 1.25rem 0.625rem;
    }
    .navbar-toggler {
        padding:0rem 0rem;
        background-color: #FFF;
        color: #FFF;
        margin-left: 0.5rem;
    }
    .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }
    #navbarsExample05{
        background-color: #272635;
        text-align: center;
        padding: 1.5rem 0rem;
        position: absolute;
        width: 100%;
    }
    .nav-item .nav-link{
        padding: 1.5rem 0rem;
    }
    .t-center{
        text-align: center;
    }
    .mt0-9,.addmt-4{
        margin-top: 0.4rem;
    }
    .services{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .mt2-5{
        margin-top: 0.7rem;
    }
    .feedback-cards{
        padding: 1rem;
    }
}
@media screen and (min-width:48rem) and (max-width:62rem) {
    .euro-section{
        margin-top: 2rem;
    }
    .euro-heading{
        font-size: 2.5rem;
        font-weight: 550;
        line-height: 3.75rem;
    }
    .img-1{
           height: 25rem;
           margin-top: 1rem;
    }
    .font-45,.font-45-white{
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.5rem;
    }
    .font20{
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.613rem;
    }
    .p-absolute,.p-cards{
        padding: 1.25rem;
    }
    .img-3{
        height: 14.375rem;
    }
    .img-4{
        height: 28.125rem;
        margin-top: 1rem;
    }
    .img-5{
        margin-top: 1rem;
        height: 28.5rem;
    }
    .padding100,.backpink,.contact-us{
        padding: 2rem 0.625rem;
    }
    .gallery-img2{
        width:11.875rem;
    }
    .gallery-img3{
        width: 24.375rem;
    }
    .gallery-img4{
        width: 18.125rem;
    }
    .gallery-img2,.gallery-img3,.gallery-img4,.video{
        height: 12.5rem;
    }
    .img-6{
        height: 17rem;
        margin-top: 0.5rem;
    }
    .font35-gray{
        font-size: 1.625rem;
        line-height: 1.8rem;
    }
}
@media screen and (min-width:12rem) and (max-width:48rem) {
    .navbar-brand{
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2.688rem;
        margin-right: 0rem;
    }
    .navbar-buttons{
        padding:  0.125rem 0.313rem 0.125rem 0.313rem;
        margin-left: 0.5rem;
    }
    .euro-heading{
        font-size: 1.50rem;
        font-weight: 550;
        line-height: 2rem;
    }
    .font-45,.font-45-white{
        font-size: 1.4rem;
        font-weight: 550;
        line-height: 1.8rem;
    }
    .euro-section{
        margin-top: 0rem;
        padding: 0.625rem 0rem 0.625rem 0rem;
    }
    .mt1,.gallery-img2,.gallery-img3,.gallery-img4,.feedbackmt-1{
        margin-top: 1rem;
    }
    .backimg{
        background-size: 100% 150%;
    }
    .font17,.font-17-gray,.font-17-lightgray{
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    .font20{
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.513rem;
    }
    .euro-buttons,.euro-buttons2{
        padding:  0.25rem 0.938rem 0.25rem 0.938rem;
        font-size: 0.75rem;
        margin-top: 0.9rem;
        font-weight: 550;
    }
    .img-1{
           height: 18.75rem;
           margin-top: 1rem;
    } 
    .p-absolute{
        padding: 0.625rem;
        margin-top: 3rem;
    }
    .p-cards{
        padding: 0.625rem;
        margin-top: 1rem; 
    }
    .img-3{
        height: 12.5rem;
    }
    .img-4{
        height:21.875rem;
        margin-top: 1rem;
    }
    .video{
        height: 9.375rem;
    }
    .padding100,.backpink,.contact-us{
        padding: 1.3rem 0.625rem;
    }
    .img-center{
        text-align: center;
    }
    .certi-img{
        height: 1.875rem;
    }
    .credit-img{
        height: 1.563rem;
    }
    .cam-img{
        height: 1.75rem;
    }
    .img-5{
        height: 21.5rem;
        margin-top: 0.8rem;
    }
    .gallery-buttons{
        padding:  0.313rem 1.25rem;
        margin-top: 0.5rem;
    }
    .gallery-img2{
        width:16.875rem;
    }
    .gallery-img3{
        width: 23.75rem;
        object-fit: cover;
    }
    .gallery-img4{
        width: 20.625rem;
    }
    .gallery-img2,.gallery-img3,.gallery-img4{
        height: 11.875rem;
    }
    .result-boxes,.result-boxes:hover{
        padding: 0.5rem;
    }
    .img-6{
        height: 10rem;
        margin-top: 0.5rem;
    } 
    .services{
        padding: 1rem;
    }
    .mr-top0-5{
        margin-top: 0.2rem;
    } 
    .font35-gray{
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
    .mleft0-5{
        margin-left: 0.2rem;
    } 
    .italic,.card-imgs{
        margin-top: 0.5rem;
    } 
    .card-imgs{
        width:4.063rem;
        height: 4.063rem;
    }
    .feedback-backimg{
       background-size:100% 100%;
    } 
}
@media screen and (min-width:12.5rem) and (max-width:75rem) {
    #navbarsExample05{
        margin-left: 0rem;
    }
}
@media screen and (min-width:48rem) and (max-width:75rem) {
    .navbar-brand{
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.063rem;
    }
    .gallery-buttons{
        padding:  0.625rem 2.188rem;
    }
}
@media screen and (min-width:48rem) {
    .ps-relative{
        position: relative;
    }
    .ps-absolute{
        position: absolute;
    }
}
@media screen and (min-width:12.5rem) and (max-width:36rem) {
    .result-boxes{
        margin-top: 0rem;
        text-align: center;
    }
    .services{
        margin-top: 1rem;
        padding: 0.625rem;
        text-align: center;
    } 
    .card-title {
        margin-bottom:0.2rem;
    }
}