.backimg{
    background:linear-gradient(135deg, #272635CC, #00000033), url(images/Rectangle-11.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0rem 6.25rem 6.25rem 6.25rem;
}
.navbar-brand,.font-45,.font-45-white{
font-family: IBM Plex Sans;
font-size: 2.813rem;
font-weight: 700;
line-height: 3.688rem;
}
.navbar-brand,.font-45-white,.backimg,.services:hover .font35-gray,.font25,.font14-white,.navbar-buttons:hover{
    color: #FFFFFF;
}
.navitem .navlink{
text-transform: uppercase;
border-bottom:0.125rem solid transparent;
}
.navitem .navlink ,.font-17-gray,.result-boxes:hover .font-17-lightgray,.services:hover .font-17-lightgray,#medium-gray,.footer{
    color:  #FFFFFFBF;
}
.navbar-buttons,.euro-buttons,.euro-buttons2{
padding:  0.438rem 1.563rem 0.438rem 1.563rem;
color: white;
}
.navbar-buttons,.euro-buttons,.euro-buttons2,.navitem .navlink,.font14,.font14-white,.gallery-buttons{
font-family:IBM Plex Sans;
font-size: 0.875rem;
font-weight: 600;
line-height: 1.5rem;
text-transform: uppercase;
}
.font14,.font35-gray,.navbar-brand span{
    color: #CECECE;
}
.rpadding{
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
}
.euro-buttons,.euro-buttons:hover,#backblack{
    background-color: #272635;
    color: white;
}
.navitem .navlink:hover{
    border-bottom:0.125rem solid  #FFFFFF;
    color: #FFFFFF;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
 --bs-gutter-x: 0rem; 
}
#navbarsExample05{
    margin-left: 12rem;
}
.euro-heading{
font-family: IBM Plex Sans;
font-size: 3.75rem;
font-weight: 700;
line-height: 4.875rem;
}
.euro-section{
  padding:1.875rem 0rem 1.875rem 0rem;
  margin-top: 5rem;
}
.mt1,.mt1-5{
    margin-top: 1.5rem;
}
.mt0-9,.card-imgs,.italic{
    margin-top: 0.9rem;
}
.euro-buttons,.euro-buttons2{
    border-radius: 0rem;
    margin-top: 1.5rem;
}
.euro-buttons2,.euro-buttons2:hover{
    color: #272635;
    background-color: #FFF;
    margin-left:  0.625rem;
}
.font17,.font-17-gray,.font-17-lightgray{
font-family: IBM Plex Sans;
font-size: 1.063rem;
font-weight: 400;
line-height: 1.625rem;
}
#gray,.font-17-lightgray{
   color: #6E6E6E;
}
#light-gray{
    color: #A6A6A8;
}
.padding100,.backpink,.contact-us{
    padding: 6.25rem;
}
.backpink,.services{
    background-color: rgb(241, 241, 241);
}
.font20{
font-family: IBM Plex Sans;
font-size: 1.25rem;
font-weight: 700;
line-height: 1.813rem;
}
.users,.camera{
    margin-right: 2rem;
}
.mleft3{
    margin-left: 2.8rem;
}
.mt0-5,.mr-top0-5,.mr-t0-5 {
    margin-top: 0.5rem;
}
.accordion-item{
    margin-top: 1.1rem;
}
.img-7{
    height: 16.5rem;
}
.mleft1,.mrleft1{
    margin-left: 1rem;
}
.mleft0-5{
    margin-left: 0.5rem;
}
.p-absolute{
    position: absolute;
    padding: 2.188rem;
    background-color: #FFF;
    margin-top: 3.3rem;
}
.p-cards{
    padding: 1.5rem;
    background-color: #FFF;
    margin-top: 4.7rem; 
}
.video,.services:hover,.pointer{
    cursor: pointer;
}
.backblack,.footer{
   background:  #272635;
}
.certi-img{
    height: 2.188rem;
}
.credit-img{
    height: 1.875rem;
}
.cam-img{
    height:2.063rem;
}
.result-boxes:hover,.services:hover,.score{
    background-color: #272635;
    color:#FFFFFF;
}
.result-boxes{
    padding:1.25rem;
    cursor: pointer;
}
.img-5{
    height: 43.3rem;
}
.gallery-buttons{
padding:  0.625rem 2.5rem;
color:#6E6E6E;
text-align: center;
background-color: #FFF;
border-radius: 0rem;
}
.gallery-buttons:hover,.score-div{
    background-color: #272635;
    color: white;
}
.gallery-img2{
    width: 20.375rem;
}
.gallery-img3{
    width: 33rem;
}
.gallery-img4{
    width: 27.031rem;
}
.gallery-img2,.gallery-img3,.gallery-img4{
    height: 15.625rem;
}
body,html{
    overflow-x: hidden;
    width: 100%;
}
.contact-us{
        background:linear-gradient(rgba(39, 38, 53,0.5),rgba(39, 38, 53,0.5)), url(images/Rectangle-11.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        color: #FFF;
}
.mt2-5{
    margin-top: 2.5rem;
}
.services{
    padding: 2.188rem;
}
.font35,.font35-gray{
font-family: IBM Plex Sans;
font-size: 2.188rem;
font-weight: 700;
line-height: 2.938rem;
}
.feedback-backimg{
    background:linear-gradient(#272635CC, #FFFFFF00), url(images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFF;
}
.feedback-cards{
    padding: 2.5rem;
    border-radius: 0rem;
}
.italic{
    font-style: italic;
}
.card-imgs{
    width: 4.688rem;
    height: 4.688rem;
}
.card-body {
    padding: 0rem 0rem;
}
.score-div{
    padding:3.125rem 6.25rem;
}
.plus{
font-size:.256em;
top: -2.4em;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0rem; 
     border-bottom-left-radius:0rem; 
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0rem; 
   border-top-right-radius:0rem; 
}
.accordion-button{
    border: 0.013rem solid white;
}
.accordion-button:focus {
    border-color:white;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color:white;
    color: black;
    border-bottom: 0.01rem solid rgb(223, 220, 220);
    box-shadow: 0rem 0rem 0rem;
}
.font18{
font-family: IBM Plex Sans;
font-size: 1.125rem;
font-weight: 700;
line-height: 1.688rem;
}
.accordion {
    --bs-accordion-border-color: white;
}
.footer{
    padding: 6.25rem 6.25rem 1.875rem 6.25rem;
}
.font25{
font-family: IBM Plex Sans;
font-size: 1.563rem;
font-weight: 700;
line-height: 2.188rem;
}
.right-reserved{
padding: 1.875rem 0rem 0rem 0rem;
border-top: 0.063rem solid #FFFFFF40;
text-align: center;
margin-top: 3rem;
}
.ps-relative{
    position: relative;
}
.ps-absolute{
    position: absolute;
}
.nav-tabs {
    --bs-nav-tabs-link-active-color: white;
    --bs-nav-tabs-link-active-bg:#272635 ;
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
    border-bottom: 0rem;
    --bs-nav-tabs-border-radius: /*var(--bs-border-radius)*/ 0rem;
}
.nav {  
    --bs-nav-link-hover-color:#6E6E6E;
}
.video{
    height: 19rem;
}
@media screen and (min-width:62rem) and (max-width:75rem) {
    .backimg{
        padding: 0rem 4.375rem 4.375rem 4.375rem;
    }
    .padding100,.backpink,.contact-us{
        padding: 4.375rem;
    }
    .footer{
        padding: 4.375rem 4.375rem 1.875rem 4.375rem ;
    }
    .score-div{
        padding:2.188rem 4.375rem ;
    }
    .navbar-buttons{
        padding:  0.438rem 1.25rem 0.438rem 1.25rem;
     }
     .euro-section{
        margin-top: 2rem;
    }
    .euro-heading{
        font-size: 3.125rem;
        font-weight: 600;
        line-height: 4.25rem;
    }
    .img-1{
           height: 31.25rem; 
    }
    .font-45,.font-45-white{
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 3.1rem;
    }
    .p-absolute{
        padding: 1.25rem;
        margin-top: 3rem;
    } 
    .img-3{
        height: 15rem;
    }
    .img-4{
        height: 37.5rem;
    }
    .img-5{
        height: 35.8rem;
    }
    .gallery-img2{
        width: 13.438rem;
    }
    .gallery-img3{
        width:25.938rem;
    }
    .gallery-img4{
        width: 19.688rem;
    }
    .gallery-img2,.gallery-img3,.gallery-img4{
        height: 13.75rem;
    }
    .services{
        padding: 1.2rem;
    }
    .font35-gray{
        font-size: 1.875rem;
        line-height: 2.1rem;
    }
    .feedback-cards{
        padding: 1.8rem;
    }
    .plus{
        font-size:.300em;
        top: -2em;
    }
    .img-7{
        height: 14rem;
    }
    .accordion-button{
        padding: 0.8rem var(--bs-accordion-btn-padding-x);
    }
    .gallery-buttons{
        padding:  0.625rem 1.876rem;
    }
    .video{
        height: 16.9rem;
    }
}
@media screen and (min-width:75rem) and (max-width:87.5rem) {
    #navbarsExample05{
        margin-left: 5rem;
    }
    .p-absolute{
        padding: 1.563rem;
    }
    .img-4{
        height: 40.625rem;
    } 
    .img-1{
        height: 37.5rem; 
    }
    .img-3{
        height: 16.25rem;
    }
    .result-boxes{
        padding:0.938rem;
    }
    .img-5{
        height: 38.5rem;
    }
    .gallery-buttons{
        padding:  0.625rem 2.188rem;
    }
    .gallery-img2{
        width: 16.875rem;
    }
    .gallery-img3{
        width: 29.375rem;
    }
    .gallery-img4{
        width: 23.125rem;
    }
    .services{
        padding: 1.7rem;
    } 
    .img-7{
        height: 15.5rem;
    }
    .accordion-item{
       margin-top: 0.7rem;
    }
    .font-45,.font-45-white{
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.3rem;
    }
}
@media screen and (min-width:12.5rem) and (max-width:62rem){
    .backimg{
        padding: 0rem 0.625rem 1.25rem 0.625rem;
    }
    .navbar-toggler {
        padding:0rem 0rem;
        background-color: #FFF;
        color: #FFF;
        margin-left: 0rem;
        font-size: 1rem;
    }
    .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }
    #navbarsExample05{
        background-color: #272635;
        text-align: center;
        padding: 1.5rem 0rem;
        position: absolute;
        width: 100%;
    }
    .navitem .navlink{
        padding: 1.5rem 0rem;
    }
    .t-center{
        text-align: center;
    }
    .mt0-9,.addmt-4{
        margin-top: 0.4rem;
    }
    .addmt0-7,.right-reserved{
        margin-top: 0.7rem;
    }
    .addmt1{
        margin-top: 0.8rem;
    }
    .mr-t0-5{
        margin-top: 0.2rem;
    }
    .accordion-button{
        padding: 0.7rem var(--bs-accordion-btn-padding-x);
    }
}
@media screen and (min-width:48rem) and (max-width:62rem) {
    .euro-section{
        margin-top: 2rem;
    }
    .euro-heading{
        font-size: 2.5rem;
        font-weight: 550;
        line-height: 3.75rem;
    }
    .img-1{
           height: 25rem;
    }
    .font-45,.font-45-white{
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.3rem;
    }
    .font20{
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.613rem;
    }
    .p-absolute,.p-cards{
        padding: 1.25rem;
    }
    .img-3{
        height: 14.375rem;
    }
    .img-4{
        height: 27.1rem;
        width: 27rem;
    }
    .img-5{
        height: 23.5rem;
        width: 26rem;
    }
    .padding100,.backpink,.contact-us{
        padding: 2rem 0.625rem;
    }
    .footer{
        padding: 2rem 2rem 1.25rem 2rem;
    }
    .right-reserved{
        padding: 1.25rem 0rem 0rem 0rem;
        margin-top: 2rem;
    }
    .score-div{
        padding: 1rem 0.625rem;
    }
    .gallery-img2{
        width:11.875rem;
    }
    .gallery-img3{
        width: 24.375rem;
    }
    .gallery-img4{
        width: 18.125rem;
    }
    .gallery-buttons{
        padding:  0.625rem  1.563rem;
        line-height: 1rem;
    }
    .gallery-img2,.gallery-img3,.gallery-img4,.video{
        height: 12.5rem;
    }
    .font35-gray{
        font-size: 1.625rem;
        line-height: 1.8rem;
    }
    .plus{
        font-size:.360em;
        top: -1.5em;
    }
    .img-7{
        height: 14.4rem;
        width: 26rem;
        margin-top: -0.3rem;
    }
    .mrleft1{
        margin-left: 0.8rem;
    }
    .feedback-cards{
        padding: 1rem;
    }
    .camera{
        height: 1.875rem;
        width: 1.875rem;
        margin-right: 1rem;
    }
    .users{
        height: 1.875rem;
        width: 2.188rem;
        margin-right: 1rem;
    }
    .mt1-5{
        margin-top: 1rem;
    }
    .font-17-lightgray{
        line-height: 1.4rem;
    }
    .services{
        padding: 1rem;
    }
    .mt2-5{
        margin-top: 1.5rem;
    }
    .navbar-buttons{
        padding:  0.438rem 0.938rem 0.438rem 0.938rem;
        font-size:0.75rem;
        line-height: 1.25rem;
    }
}
@media screen and (min-width:12rem) and (max-width:48rem) {
    .navbar-brand{
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2.688rem;
        margin-right: 0rem;
    }
    .navbar-buttons{
        padding:  0.28rem 0.5rem 0.28rem 0.5rem;
        font-size:0.75rem;
        line-height: 1rem;
        margin-left: 0.1rem;
    }
    .euro-heading{
        font-size: 1.45rem;
        font-weight: 550;
        line-height: 2rem;
    }
    .font-45,.font-45-white{
        font-size: 1.3rem;
        font-weight: 550;
        line-height: 1.8rem;
    }
    .euro-section{
        margin-top: 1.4rem;
        padding: 1.25rem 0rem 1.25rem 0rem;
    }
    .mt1,.gallery-img2,.gallery-img3,.gallery-img4,.feedbackmt-1{
        margin-top: 1rem;
    }
    .backimg{
        background-size: 100% 150%;
        height: 68vh;
    }
    .font17,.font-17-gray,.font-17-lightgray{
        font-size: 0.89rem;
        line-height: 1.25rem;
    }
    .font18{
        font-size: 0.925rem;
        line-height: 1.4rem;
        font-weight: 600;
    }
    .font20{
        font-size: 1rem;
        font-weight: 550;
        line-height: 1.513rem;
    }
    .euro-buttons,.euro-buttons2{
        padding:  0.15rem 0.838rem 0.15rem 0.838rem;
        font-size: 0.7rem;
        margin-top: 0.9rem;
        font-weight: 550;
    }
    .img-1{
           height: 18.75rem;
           margin-top: 1rem;
    } 
    .p-absolute{
        padding: 0.625rem;
        margin-top: 3rem;
    }
    .p-cards{
        padding: 0.625rem;
        margin-top: 1rem; 
    }
    .img-3{
        height: 11.5rem;
    }
    .img-4{
        height:21.875rem;
        margin-top: 1rem;
    }
    .video{
        height:10rem;
    }
    .padding100,.backpink,.contact-us{
        padding: 1.3rem 0.625rem;
    }
    .footer{
        padding: 1rem 0.625rem 0.83rem 0.625rem;
    }
    .right-reserved{
        padding: 1rem 0rem 0rem 0rem;
    }
    .score-div{
        padding: 0.15rem 0.625rem 0.65rem;
    }
    .img-center{
        text-align: center;
    }
    .certi-img{
        height: 1.875rem;
    }
    .credit-img{
        height: 1.563rem;
    }
    .cam-img{
        height: 1.75rem;
    }
    .img-5{
        height: 19.5rem;
        margin-top: 0.8rem;
        width: 23rem;
    }
    .gallery-buttons{
        padding:  0.47rem 1.35rem;
        margin-top: 0.5rem;
        line-height: 1rem;
        font-size: 0.813rem;
    }
    .gallery-img2{
        width:16rem;
    }
    .gallery-img3{
        width: 23rem;
        object-fit: cover;
    }
    .gallery-img4{
        width: 20rem;
    }
    .gallery-img2,.gallery-img3,.gallery-img4{
        height: 11rem;
    }
    .result-boxes,.result-boxes:hover{
        padding: 0.5rem 0.625rem;
    }
    .img-6{
        height: 10rem;
        margin-top: 0.5rem;
    } 
    .services{
        margin-top: 1.2rem;
        padding: 1rem;
    }
    .mt2-5{
        margin-top: 0rem;
    }
    .mr-top0-5{
        margin-top: 0.2rem;
    } 
    .font35-gray{
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
    .mleft0-5{
        margin-left: 0.2rem;
    } 
    .italic,.card-imgs,.score{
        margin-top: 0.5rem;
    } 
    .card-imgs{
        width:4.063rem;
        height: 4.063rem;
    }
    .feedback-backimg{
       background-size:100% 100%;
    } 
    .plus{
        font-size:.490em;
        top: -1.2em;
    }
    .img-7{
        height: 12rem;
        width: 23rem;
    }
    .font25{
        font-size: 1.188rem;
        font-weight: 550;
        line-height: 1.5rem;
    }
    .caret,.phone{
        margin-top: -0.4rem;
    }
    .msg-box{
        height: 0.938rem;
        width: 1.125rem;
        margin-top: -0.3rem;
    }
    .mrleft1{
        margin-left: 0.5rem;
    }
    .feedback-cards{
        padding: 0.625rem;
    }
    .camera{
        height: 1.563rem;
        width: 1.563rem;
        margin-right: 1rem;
    }
    .users{
        height: 1.563rem;
        width: 1.875rem;
        margin-right: 1rem;
    }
    .mt1-5,.addmt-5{
        margin-top: 0.5rem;
    }
    .choics-us-img{
        height: 46vh;
    }
}
@media screen and (min-width:12.5rem) and (max-width:75rem) {
    #navbarsExample05{
        margin-left: 0rem;
    }
    .accordion-item{
        margin-top: 0.6rem;
     }
}
@media screen and (min-width:48rem) and (max-width:75rem) {
    .navbar-brand{
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.063rem;
    }
    .font25{
        font-size: 1.375rem;
        font-weight: 550;
        line-height: 1.875rem;
    }
    .result-boxes{
        padding:0.8rem;
    }
}
@media screen and (min-width:12.5rem) and (max-width:36rem) {
    .result-boxes{
        margin-top: 0rem;
        text-align: center;
    }
    .services{
        margin-top: 1rem;
        padding: 0.625rem;
        text-align: center;
    } 
    .card-title {
        margin-bottom:0.2rem;
    }
    .con-center{
        text-align: center;
    }
    .addmt1-0{
        margin-top: 1rem;
    }
    .tellyphone{
        height: 0.9rem;
    }
    .navbar-buttons{
        padding:  0.2rem 0.3rem 0.2rem 0.3rem;
        font-size:0.65rem;
        line-height: 1rem;
        margin-left: 0.1rem;
    }
    .cam-img{
        height: 1.65rem;
        width: 1.65rem;
    }
    .certi-img{
        height: 1.75rem;
        width: 1.75rem;
    }
    .credit-img{
        height: 1.43rem;
    }
}